body {
    font-family: sans-serif;
}

ins {
    font-size: 150%;
    color: red;
    margin-right: 10px;
    text-decoration: none;
}

del {
    margin-right: 10px;
}

.porcentaje {
    color: red
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 5px;
    text-align: center;
}

td:nth-child(3) {
    width: 15%;
}

.fondo-rosa {
    background-color: pink;
}

.fondo-azul {
    background-color: lightblue;
}

.fondo-amarillo {
    background-color: yellow;
}

.fondo-verde {
    background-color: greenyellow;
}