.titulo1 {
    color: purple;
    text-shadow:  2px 2px 2px yellow,
                  4px 4px 4px #7f7fc1;
    font-family: "Slackey";
    font-size: 400%;
}

.titulo2 {
    color: #6ea418;
    text-shadow:  2px 2px 2px purple,
                  4px 4px 4px #4e4ed7;
    font-family: "Freckle Face";
    font-size: 300%;
}

.caja-miniaturas:hover {
    box-shadow:  0px 0px 5px yellow,
                 0px 0px 15px #9a9add;
}

.caja-card:hover {
    box-shadow:  0px 0px 5px rgb(0, 0, 128),
                 0px 0px 15px #dddc9a;
}

.caja-carrusel:hover {
    box-shadow:  0px 0px 5px purple,
                 0px 0px 15px #b8dd9a;
}

.enlace {
    text-decoration: none;
    font-family: "Sixtyfour Convergence";
    text-shadow:  0px 0px 5px darkblue,
                  0px 0px 15px #b49add;
    font-size: 250%;
} 

.enlace:hover {
    text-shadow:  0px 0px 5px #5d8b00,
                  0px 0px 15px #e60d1f;
}       