.titulo1 {
    color: purple;
    text-shadow:  1px 1px 1px yellow,
                  2px 2px 2px #7f7fc1;
    font-family: "Slackey";
}

.titulo2 {
    color: #6ea418;
    text-shadow:  1px 1px 1px purple,
                  2px 2px 2px #4e4ed7;
    font-family: "Freckle Face";
}

.caja-miniaturas:hover {
    box-shadow:  0px 0px 5px yellow,
                 0px 0px 15px #9a9add;
}

.caja-card:hover {
    box-shadow:  0px 0px 5px rgb(0, 0, 128),
                 0px 0px 15px #dddc9a;
}

.caja-carrusel:hover {
    box-shadow:  0px 0px 5px purple,
                 0px 0px 15px #b8dd9a;
}

.enlace {
    text-decoration: none;
    font-family: "Sixtyfour Convergence";
    text-shadow:  0px 0px 5px darkblue,
                  0px 0px 15px #b49add;
} 

.enlace:hover {
    text-shadow:  0px 0px 5px rgb(93, 139, 0),
                  0px 0px 15px #e60d1f;
}       