<div class="mb-4 mt-4 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
  <!-- Recorrer eventos y generar estructura de abajo por cada evento -->
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title">Título</h4>
        <p class="card-text">Descripción</p>
      </div>
      <div class="card-footer text-muted row m-0">
        <div class="col">Fecha</div>
        <div class="col text-end">Precio €</div>
      </div>
    </div>
  </div>
</div>
