<h1>Películas populares</h1>

<div id="carousel" class="carousel slide mt-1 mb-3">
    <div class="carousel-indicators">
        @for (pelicula of peliculas(); track pelicula.id; let i = $index, first = $first) {
            <button type="button" data-bs-target="#carousel" [attr.data-bs-slide-to]="i" [class.active]="first"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (pelicula of peliculas(); track pelicula.id; let i = $index, first = $first) {
            <div class="carousel-item" [class.active]="first">
                <img src="https://image.tmdb.org/t/p/w500/{{pelicula.backdrop_path}}" class="d-block w-100 rounded">
                <div class="carousel-caption d-none d-md-block">
                    <h2>{{ pelicula.title }}</h2>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @for (pelicula of peliculas(); track pelicula.id) {
        <div class="col">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w200/{{pelicula.poster_path}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ pelicula.title }}</h5>
                    <p class="card-text">{{ pelicula.overview }}</p>
                </div>
                <div class="card-footer">
                    <span class="text-body-secondary">
                        <i class="bi bi-star-fill text-warning"></i>
                        {{ pelicula.vote_average }}
                        <i class="bi bi-calendar text-success ms-3"></i>
                        {{ pelicula.release_date }} 

                        <span class="ms-3">&lt; 18</span>
                        @if (pelicula.adult) {
                            <i class="bi bi-exclamation-circle"></i>
                        } @else {
                            <i class="bi bi-hand-thumbs-up"></i>
                        }
                    </span>
                </div>
            </div>
        </div>
    }
</div>
