<div class="card mb-5">
    <div class="card-header bg-primary text-white">
        Mi lista de productos
    </div>
    <div class="card-body">
        @if (products.length) {
            <div class="table-responsive">
                <table class="table table-striped m-0">
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-sm" 
                                    [ngClass]="{
                                        'btn-danger': this.showImage,
                                        'btn-primary': !this.showImage,
                                    }"
                                    (click)="toggleImage()">
                                    {{showImage?'Ocultar':'Mostrar'}} imágenes
                                </button>
                            </th>
                            <th>Productos</th>
                            <th>Precio</th>
                            <th>Disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (product of products; track product.id) {
                            <tr>
                                <td><img [class.d-none]="!showImage" [src]="product.imageUrl" alt=""></td>
                                <td>{{product.description}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.available}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } @else {
            <h3 class="p-4">No hay productos disponibles</h3>
        }
    </div>
</div>