<form class="mt-4" #formEvent="ngForm" (ngSubmit)="addEvento(formEvent)">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Enter title" [(ngModel)]="newEvento.title">
    <div class="invalid-feedback">Title is required and can only contain letters and spaces.</div>
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" id="date" name="date" [(ngModel)]="newEvento.date">
    <div class="invalid-feedback">Date is required.</div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="newEvento.description"></textarea>
    <div class="invalid-feedback">Description is required.</div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price (in €)</label>
    <input type="number" class="form-control" id="price" name="price" min="0.00" max="10000.00" step="0.01" [(ngModel)]="newEvento.price" />
    <div class="invalid-feedback">Price must be a positive number.</div>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="file" class="form-control" id="image" name="image" #imgInput ngModel (change)="imageToBase64(imgInput)">
    <div class="invalid-feedback">An image is required.</div>
  </div>
  @if(newEvento.image) {
    <img [src]="newEvento.image" alt="" class="img-thumbnail mb-3">
  }
  <div>
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>

<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <button class="nav-link" (click)="orderDate()">Order by date</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="orderPrice()">Order by price</button>
      </li>
    </ul>
    <form class="d-flex mb-0">
      <input
        class="form-control me-2"
        type="text"
        name="search"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="search"
      />
    </form>
  </div>
</nav>

<div class="mb-4 mt-4 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
  @for (evento of filteredEvents(); track evento.id) {
    <div class="col">
      <div class="card shadow">
        <img [src]="evento.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{evento.title | titlecase}}</h4>
          <p class="card-text">{{evento.description}}</p>
          <div><button class="btn btn-sm btn-danger" (click)="deleteEvento(evento)">Borrar</button></div>
        </div>
        <div class="card-footer text-muted row m-0">
          <div class="col">{{evento.date | date:'dd/MM/yyyy'}}</div>
          <div class="col text-end">{{evento.price | intlCurrency:'EUR':'es-ES'}}</div>
        </div>
      </div>
    </div>
  }
</div>
